footer.footercontent
    .block1
        p Copyright 2018 © Название книги. Все права защищены
    a(href="#").block2.siz1
        .block2__blockimg
            img(src="./images/fb.png", alt="") 
        .block2__textblock
            p Немного текста про 
            p нас на Facebook
    a(href="#").block2.siz2
        .block2__blockimg
            img(src="./images/logo.png", alt="") 
        .block2__textblock
            p Немного текста про 
            p компанию IntelBit
    a(href="#").block2.siz3
        .block2__blockimg
            img(src="./images/logo2.png", alt="") 
        .block2__textblock
            p Немного текста про 
            p компанию 2Birds
    