footer.footercontent
    .block1
        p Copyright 2018 © Лингвистический Интеллект. Все права защищены
    a(href="#").block2.siz1
        .block2__blockimg
            img(src="./images/fb.png", alt="") 
        .block2__textblock
            p Страница книги 
            p на Facebook
    a(href="https://intelbit.com.ua").block2.siz2
        .block2__blockimg
            img(src="./images/logo.png", alt="") 
        .block2__textblock
            p Разработка сайта
            p IntelBit
    a(href="#").block2.siz3
        .block2__blockimg
            img(src="./images/logo2.png", alt="") 
        .block2__textblock
            p Продвижение проекта 
            p 2Birds
    