header.hoadercontent
    .header
        .menu   
            .menu__paragraph
                a(href="#") Книга
            .menu__paragraph
                a(href="#") Отзывы
            .menu__paragraph
                a(href="#") Авторы
            .menu__paragraph
                a(href="#") Цитаты
    .pan
        img(src="./images/pan.png", alt="")
                
            //- .adaptmenu#adaptmenu
            //-     .adaptmenu__paragraph
            //-         .close#close
            //-         a(href="./index.html") Главная
            //-         a(href="./projects.html") Проекты
            //-         a(href="./materials.html") Из чего мы строим
            //-         a(href="./services.html") Наши услуги 
            //-         a(href="./price.html") Цены
            //-         a(href="./about.html") О нас
            //-         a(href="./gallery.html") Фото
            //-         a(href="./contacts.html") Контакты
            //-         a(href="./info.html") Блог


            