.popapwrapblock.orderbig#openmodal1
    .popap
        .popap__title
            p В настоящий момент книга доступна только в режиме предзаказа. Ожидаемая дата релиза книги
                span
                    | 20.02.2018
        form.popap__blockblocks
            .blockitem
                .blockitem__title
                    p откуда вы?
                input(type="text" placeholder="Страна" required)
                input(type="text" placeholder="Город" required)
                input(type="text" placeholder="Улица" required)
                input(type="text" placeholder="Дом/квартира" required)
            .blockitem
                .blockitem__title
                    p Ваши контакты
                input(type="text" placeholder="Имя" required)
                input(type="email" placeholder="E-mail" required)
                input(type="tel" placeholder="Телефон" required)
                button#btn_submit(type="submit" required)
                    span →
                        

        #close1.popap-close
            a(href='#close' title="close")
                img(src="./images/close.png" alt="")


.popapwrapblock.ordersmal#openmodal3
    .popap
        .popap__title
            p Спасибо за проявленный интерес!
        .popap__text
            p Мы выслали ознакомительный фрагмент книги на вашу электронную почту. 
        .popap__button
            button  
                span ОК
        .popap__igm
            img(src="./images/popapimg1.png", alt="")
        #close3.popap-close
            a(href='javascript: void(0);' title="close")
                img(src="./images/close.png" alt="")


.popapwrapblock.ordersmal#openmodal2
    .popap
        .popap__title.popap__title_siz
            p Спасибо!
        .popap__text
            p Мы свяжемся с вами в ближайшее время для подтверждения заказа. 
        .popap__button
            button#btn_ok
                span ОК
        .popap__img2
            img(src="./images/popapimg2.png", alt="")
        .popap__img3
            //- img(src="./images/img2.png", alt="")
        #close2.popap-close
            a(href='javascript: void(0);' title="close")
                img(src="./images/close.png" alt="")


//- script.
//-     $('.elem').click(function() {
//-         $('.popapwrapblock').fadeIn(300);
//-         $('body').css('overflow','hidden');
//-     });
    
//-     $('.popap-close').click(function(){
//-         $('.popapwrapblock').css('display', 'none');
//-         $('body').css('overflow','visible');
//-     });