.footercontent{
    border-top: 2px solid  #f1f2f4;
    height: em(59);
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    .siz1, .siz2{
        width: em(297);
    }
    .siz1{
        img{
            width: em(30);
            height: em(30);
        }
    }
    .siz2{
        img{
            width: em(28);
            height: em(30);
        }
    }
    .siz3{
        img{
            width: em(31);
            height: em(21);
        }
    }
    .siz3{
        width: em(274);
    }
    .block1{
        padding: em(20) 0 em(20) em(33);
        width: em(489);
        line-height: em(13);
        p{
            font-size: em(12);
            font-weight: 400;
            
        }
    }
    .block2{
        border-left: 2px solid #f1f2f4;
        display: flex;
        padding: em(12) 0 em(15) em(25);
        line-height: em(17);
        p:first-child{
            font-size: em(14);
            font-weight: 400;
            font-weight: 400;
            color: #303030;
            transition: 0.2s;
        }
        p:last-child{
            font-size: em(14);
            font-weight: 400;
            line-height: em(13);
            font-weight: 700;
            color: #303030;
            transition: 0.2s;
        }
        &__blockimg{
                display: flex;
                flex-direction: column;
                justify-content: center;
            a{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        &__textblock{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: em(12);
        }
    }
    .block2:hover{
       p{
        color: #f62e3b;
        transition: 0.2s;
       }
    }

}