.hoadercontent{
    position: relative;
    border-bottom: 2px solid  #f1f2f4;
    padding: em(18) 0 em(14) 0;
    .menu{
        display: flex;
        padding-left: em(51);
        &__paragraph{
            margin-right: em(72);
            a{
                color: #35505f;
                font-size: em(18);
                font-weight: 700;
                transition: 0.2s;
    
            }
            a:hover{
                color: $buttoncolor;
                transition: 0.2s;
            }
        }
    }
    .pan{
        position: absolute;
        left: em(-52);
        bottom: em(-30);
        img{
            width: em(630);
            height: em(34);
        }
    }
}

