*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

@import "helpers/varibles.scss";
@import "mixin/pxem.scss";
@import "common/wrapper.scss";
@import "components/header.scss";
@import "components/footer.scss";
@import "components/mainpage.scss";
@import "components/popap.scss";

@font-face {
    font-family: circe; /* Имя шрифта */
    src: url(../fonts/Circe-Regular.ttf); // 400
    
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: circe; /* Имя шрифта */
    src: url(../fonts/Circe-Bold.ttf); // 700
    
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: circe; /* Имя шрифта */
    src: url(../fonts/Circe-ExtraBold.ttf); // 800
    
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: muller; /* Имя шрифта */
    src: url(../fonts/MullerRegularItalic.otf); // 400
    
    font-weight: 400;
    font-style: normal;
}

.content{
    overflow: hidden;
    background-color: $white;
    z-index: 1000;
}

body{
    position: relative;
    font-family: circe;
    // color: $maintext;
}

a{
    cursor: pointer;
    text-decoration: none;
}

html{
    font-size: 0.833333333vw;
}




