// .wrapper{
//     width: 1230px;
//     padding: 0 30px;
//     margin: 0 auto;
//     position: relative;
 
// }  

// @media all and (max-width: 1250px){
//     .wrapper{
//         width: 94vw;
//         padding: 0 16px;
//         margin: 0 auto;
//         position: relative;
     
//     }  
// }

// .wrapper{
//     width: 1362px;
//     height: 857px;
//     box-shadow: 0 30px 50px rgba(0, 0, 0, 0.15);
//     border-radius: 20px;
//     background-color: #ffffff;
// }

.wrapper{
    width: em(1362);
    height: em(857);
    box-shadow: 0 em(30) em(50) rgba(0, 0, 0, 0.15);
    border-radius: em(20);
    background-color: #ffffff;
    position: relative;
}
